*,
::before,
::after{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size: 0.373333rem;
    color: #333;
    background: #E8E8E8;
    font-family: "Arial","MicroSoft YaHei","sans-serif";
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #333;
}
input,textarea{
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::after,
.clearfix::before{
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.m_r10{
    margin-right: 0.133333rem;
}
.m_l10{
    margin-left: 0.133333rem;
}
.m_t10{
    margin-top: 0.133333rem;
}
.m_b10{
    margin-bottom: 0.133333rem;
}
.mianColor{
    color: #d8505c;
}
/*所有使用精灵图的 class  以icon_开始的所有class都有这些属性*/
[class^="icon_"]{
    background: url("../images/Spirit.png") no-repeat;
    /*压缩背景图*/
    background-size: 4.973333rem 2.586667rem;
}

// 头部
header {
    background-color: #fff;
}

.sc-header {
    height: 0.773333rem;
    width: 100%;
    background-color: #fff;
    padding: 0 0.266667rem;
    border-bottom: 1px solid #dcdcdc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.title-text {
    text-align: center;
    height: 0.773333rem;
    line-height: 0.773333rem;
}
.head-Edit {
    float: right;
    font-size: 0.373333rem;
    color: #919191;
    cursor: pointer;
}

.head-backbox {
    position: absolute;
    height: 0.773333rem;
    width: 0.946667rem;
    padding: 0.213333rem 0.373333rem 0.213333rem 0;
    margin: 0 auto;
    top: 0;
    left: 20px;
    bottom: 0;
}

.icon_back {
    display: inline-block;
    width: 0.2rem;
    height: 0.36rem;
}

// 底部
footer {
     position: fixed;
    left: 0;
    bottom: 0;
}

.sc-footer {
    height: 2.133333rem;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.sc-footer .checkOut {
    height: 1.066667rem;
    width: 100%;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

.sc-footer .checkOut .checkAllBox {
    float: left;
    height: 100%;
    width: 0.8rem;
    padding: 0.266667rem 0 0 0.266667rem;
}

.sc-footer .checkOut .checkAllInfo {
    float: left;
    color: #919191;
    width: 3.666667rem;
}

.Allcheck {
    font-size: 0.32rem;
    float: left;
    display: inline-block;
    height: 1.0rem;
    line-height: 1.0rem;
}

.priceinfo {
    float: right;
    height: 1.02rem;
    line-height: 1.02rem;
}

.priceAll {
    font-size: 0.4rem;
    color: #f6442b;
}

.checkOutBtn {
    width: 2.266667rem;
    height: 1.02rem;
    line-height: 1.02rem;
    display: inline-block;
    float: right;
    background-color: #f6442b;
    font-size: 0.32rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
}



.footNav {
    width: 100%;
    height: 1.066667rem;
}
.footNav div {
    width: 20%;
    height: 1.066667rem;
    float: left;
}
.footNav div .icon {
    width: 100%;
    height: 0.48rem;
}
.footNav div .iconName {
    display: block;
    font-size: 0.266667rem;
    color: #919191;
    width: 100%;
    height: 0.266667rem;
    line-height: 0.266667rem;
    text-align: center;
    float: left;
    padding-top: 0.133333rem;
}





.sc-footer .footNav .icon span {
    margin: 0.106667rem auto;
}
.sc-footer .footNav .icon {
    width: 100%;
    height: 100%;
}

.sc-footer .footNav .icon p {
    text-align: center;
    font-size: 0.266667rem;
    color: #919191;
}

.footNav .icon .icon_Home {
    display: block;
    width: 0.506667rem;
    height: 0.506667rem;
    background-position: 0 -0.493333rem;
}

.footNav .icon .icon_Cart {
    display: block;
    width: 0.506667rem;
    height: 0.506667rem;
    background-position: -0.52rem -0.493333rem;
}

.footNav .icon .icon_Me {
    display: block;
    width: 0.506667rem;
    height: 0.506667rem;
    background-position: -1.04rem -0.493333rem;
}

.footNav .icon .icon_Help {
    display: block;
    width: 0.506667rem;
    height: 0.506667rem;
    background-position: -1.56rem -0.493333rem;
}

.footNav .icon .icon_More {
    display: block;
    width: 0.506667rem;
    height: 0.506667rem;
    background-position: -2.08rem -0.493333rem;
    margin-top: 0.093333rem;
    margin-bottom: 0.2rem;

}
