.layout{
    min-width: 4.0rem;
    max-width: 10.0rem; 
    margin: 0 auto;
    position: relative;
}
#page-carEdit .layout .sec:nth-of-type(1) {
	margin-top: 0.906667rem;
}
.sec {
 	height: 2.4rem;
 	background-color: #fff;
 	margin-bottom: 0.133333rem;
 }

.sec .checkProduct {
	width: 10%;
	height: 100%;
	float: left;
	padding: 0.973333rem 0 0 0.266667rem;
}

.icon_checkbox {
	display: inline-block;
	width: 0.453333rem;
	height: 0.453333rem;
	background-position: -0.68rem 0;
}

.sec .productImg {
	width: 30%;
	height: 100%;
	float: left;
	padding: 0.4rem 0;
}

.sec .porductpic {
	width: 2.48rem;
	height: 1.6rem;
}

.sec .productInfo {
	float: left;
	width: 60%;
	height: 100%;
}

.sec .productInfo-tit {
	width: 100%;
	word-wrap: break-word;
	padding-right: 0.36rem;
	height: 1.266667rem;
	margin-top: 0.4rem;
	font-size: 0.32rem;
	font-family: "Arial";
}

.sec .productInfo-box {
	padding-right: 0.32rem;
	height: 0.533333rem;
	line-height: 0.533333rem;
}

.sec .productInfo-pri {
	font-size: 0.4rem;
	color: #f6442b;
	float: left;
}

.sec .productInfo-mum {
	font-size: 0.32rem;
	float: right;
	color: #919191;
}

