/*-- page-me --*/
#page-me .sc-footer {
	height: 1.066667rem;
}

#page-me .container .demi {
	width: 100%;
	height: 3.066667rem;
	background-color: #fff;
	margin-bottom: 0.186667rem;
	// margin-top: 0.786667rem;
	line-height: 3.066667rem;
}
#page-me .container .demi .demi-left {
	position: relative;
}
#page-me .container .demi .demi-left img {
	float: left;
	margin-top: 0.666667rem;
	margin-left: 0.266667rem;
	margin-right: 0.266667rem;
}
#page-me .container .demi .demi-left span {
	float: left;
	font-size: 0.4rem;
	font-weight: 700;
}
#page-me .container .demi .demi-left .icon_sex {
	width: 0.266667rem;
	height: 0.266667rem;
	background-position: -2.426667rem -0.066667rem;
	display: inline-block;
	position: absolute;
	top: 0.866667rem;
	left: 1.466667rem;
}
#page-me .container .demi .demi-right {
	margin-right: 0.266667rem;
	position: relative;
}
#page-me .container .demi .demi-right .icon_go {
	position: absolute;
    margin: auto;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
}
#page-me .container .demi .demi-right span:first-child {
	font-size: 0.32rem;
	color: #919191;
	margin-right: 0.4rem;
}
.icon_go {
	width:0.213333rem;
	height: 0.386667rem;
	display: inline-block;
	background-position: -1.48rem 0;  
}

#page-me .container .list-me {
	margin-top: 0.186667rem;
	background-color: #fff;
}
#page-me .container .list-me div {
	height: 1.333333rem;
	line-height: 1.333333rem;
	margin-left: 0.266667rem;
	border-bottom: 2px solid #dcdcdc;
	overflow: hidden;
	position: relative;
}
#page-me .container .list-me div .f_left {
	font-size: 0.346667rem;
	font-weight: 700;
}
#page-me .container .list-me div .icon_go {
	position: absolute;
	top: 0;
	left: auto;
	bottom: 0;
	right: 0.266667rem;
	margin: auto;
}